/* pictures and icons styling */
.logo {
    width: 150px;
    padding-left: 20px;
}

.icons {
    width: 30px;
    padding: 5px;
}

.site-pics {
    width: 331px;
    padding: 20px;
}

.pfp {
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    border-color: #E48383;
}
/* pictures and icons styling ends */

/* text, backgrounds, and border stylings */
.links {
    text-decoration: none;
    color: black;
}

.links:hover {
    color: rgba(0, 0, 0, 0.6);
}

.heading-text {
    color: #E48383 !important;
}

.light-text {
    color: ivory !important;
}

.normal-text {
    color: #d76969 !important;
}

.pink-bg {
    background: #F5E0D4 !important;
}

.light-bg {
    background: ivory !important;
}

.dark-bg {
    background: #E48383 !important;
}

.border-2 {
    border-color: #E48383 !important;
}

.light-border {
    border-color: ivory !important;
}
/* text, backgrounds, and border styling ends */

/* home page styling */
.typewriter h2 {
    display: flex;
    align-content: center;
    color: #DC3545;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #d76969; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100%;}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    0% { border-color: transparent }
    50% { border-color: #d76969 }
    100% { border-color: transparent}
  }
/* home page styling ends */

/* about page styling */
/* timeline */
.timeline {
    position: relative;
    max-width: 100%;
    margin: 20px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #E48383;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: -10px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 0;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #E48383;
    border: 4px solid #E48383;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid ivory;
    border-width: 10px 10px 10px 0;
    border-color: transparent #F5E0D4 transparent transparent;
}

.right::after {
    left: -20px;
}

.content {
    padding: 20px 30px;
    background-color: #F5E0D4;
    position: relative;
    border-radius: 6px;
    border: 1px solid #E48383;
}
/* timeline ends */

/* skills bars */
.skills-container {
    width: 100%;
    background-color: ivory;
    border-radius: 10px;
}

.skills {
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #F5E0D4;
}

.html {max-width: 90%; background-color: #E48383; padding-right: 5px; border-radius: 10px;}
.css {max-width: 84%; background-color: #E48383; padding-right: 5px; border-radius: 10px;}
.bootstrap {max-width: 80%; background-color: #E48383; padding-right: 5px; border-radius: 10px;}
.leadership {max-width: 65%; background-color: #E48383; padding-right: 5px; border-radius: 10px;}
.crit-thinking {max-width: 78%; background-color: #E48383; padding-right: 5px; border-radius: 10px;}
.people {max-width: 82%; background-color: #E48383; padding-right: 5px; border-radius: 10px;}
.data-analysis {max-width: 76%; background-color: #E48383; padding-right: 5px; border-radius: 10px;}
.organization {max-width: 93%; background-color: #E48383; padding-right: 5px; border-radius: 10px;}
.cool-stylish {max-width: 100%; background-color: #E48383; padding-right: 5px; border-radius: 10px;}

.html, .css, .bootstrap, .leadership, .crit-thinking, .people, .data-analysis, .organization, .cool-stylish {
    animation-name: fill-bars;
    animation-duration: 2.5s;
}

@keyframes fill-bars {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.skills-fix {
    padding: 10px;
}
/* skills bars end */

.bottom-fix {
    padding-bottom: 156px !important;
}
/* about styling ends */

/* projects styling */
.bottom-fix-2 {
    padding-bottom: 52px;
}
/* projects styling ends */

/* testimonial styling */
figure.snip1139 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 500px;
  width: 100%;
  color: black;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
figure.snip1139 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1139 img {
  max-width: 100%;
  vertical-align: middle;
}
figure.snip1139 blockquote {
  position: relative;
  background-color: ivory;
  padding: 25px 50px 25px 50px;
  font-size: 0.8em;
  font-weight: 500;
  text-align: left;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}
figure.snip1139 blockquote:before,
figure.snip1139 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1139 blockquote:before {
  top: 25px;
  left: 20px;
}
figure.snip1139 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.snip1139 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ffffff;
  margin: 0;
  position: absolute;
}
figure.snip1139 .author {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 25px;
  color: #000000;
  background-color: ivory;
  margin: 0;
  text-transform: uppercase;
}
figure.snip1139 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800px;
}
figure.snip1139 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}
/*testimonial styling end*/

/* media queries */
@media screen and (max-width: 768px) {
    .hide {
        display: none;
    }

    .add-pad {
        padding-top: 20px;
    }
}

@media screen and (max-width: 1220px) {
    #testimonials .media-fix {
        width: 100%;
    }
}
/* media queries end */

/* testing testing 1 2 3 */
h3 {
    margin: 0
  }
  .box {
    height: 200px;
    width: 300px;
    overflow: hidden;
    background-image: url("./img/lylebrown.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hid-box {
    top: 100%;
    position: relative;
    transition: all .3s ease-out;
    height: 100%;
  }
  
  .box:hover > .hid-box{
    top: 0;
  }