.logo {
    width: 50px;
}

.icons {
    width: 30px;
    padding: 5px;
}

.links {
    text-decoration: none;
    color: black;
}

.links:hover {
    color: rgba(0, 0, 0, 0.6);
}

.pfp {
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    border-color: #E48383;
}

.heading-text {
    color: #E48383;
}

.pink-bg {
    background: #F5E0D4 !important;
}